<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produit par origine</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <td>Product Name : </td>
            <td>Origines :</td>
        </tr>
        </thead>

        <tbody>
            <tr th:each="product : ${prodList}">
                <td th:text="*{product.name}"></td>
                <td th:for-each="matiere : ${product.matiereList}">
                    <p th:text="*{matiere.name}"></p>
                </td>
            </tr>


        </tbody>


    </table>

</body>
</html>